# Mac files
.DS_Store

# build files
firmware/*.d
firmware/*.o
firmware/*.bin
firmware/*.d
firmware/*.eep
firmware/*.elf
firmware/*.hex
firmware/*.lss
firmware/*.map
firmware/*.sym

# link to LUFA
firmware/LUFA
